html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
}

a {
  color: #4a8bfc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  border-bottom: 1px solid #ddd;
  font-size: 2.0em;
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

.demo {
  font-weight: 500;
  text-decoration: underline;
}

.demo:hover {
  color: #317bfc;
  text-decoration: none;
}
